[client]
port	= 13308
socket	= /tmp/mysql13308.sock
default-character-set=utf8

[mysql]
#default-character-set=utf8
prompt=[\u@\h:\d]>
no-auto-rehash

[mysqld]
sql_mode='STRICT_TRANS_TABLES'
port	= 13308
socket	= /tmp/mysql13308.sock
basedir	= /usr/local/mysql
datadir	= /data/mysql13308
character-set-server = utf8
open_files_limit    = 3072
back_log = 103
max_connections = 1000
max_connect_errors = 100000
table_open_cache = 512
table_definition_cache = 512
external-locking = FALSE
max_allowed_packet = 32M
sort_buffer_size = 4M
join_buffer_size = 4M
thread_cache_size = 64
thread_stack = 512K
query_cache_size=0
query_cache_type=0
tmp_table_size = 64M
max_heap_table_size = 64M
lower_case_table_names=1
interactive_timeout = 600
wait_timeout = 600
slow_query_log = 1
slow_query_log_file = /data/mysql13308/slow.log
log-error = /data/mysql13308/error.log
long_query_time = 1
#log_queries_not_using_indexes =1
#log_throttle_queries_not_using_indexes = 10
#min_examined_row_limit = 100
#log_slow_admin_statements = 1
#log_slow_slave_statements = 1
server-id = 19213308
skip-name-resolve
skip-host-cache
log-bin = /data/mysql13308/mysql-bin
sync_binlog = 1
binlog_cache_size = 4M
max_binlog_cache_size = 128M
max_binlog_size = 1024M
expire_logs_days = 15
#key_buffer_size = 32M
#read_buffer_size = 1M
#read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
character-set-server=utf8
default-storage-engine=InnoDB
binlog_format=row
gtid_mode=on
log_slave_updates=1
enforce_gtid_consistency=1
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_recovery = 1
relay-log-purge = 1

transaction_isolation = read-committed
#innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 2G
innodb_data_file_path = ibdata1:1024M:autoextend
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 16M
innodb_log_file_size = 256M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 50
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
innodb_locks_unsafe_for_binlog = 0
innodb_page_cleaners=4
innodb_buffer_pool_instances=8
innodb_lru_scan_depth=1024
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_lock_wait_timeout = 10
innodb_io_capacity = 800
innodb_io_capacity_max = 1000
innodb_flush_neighbors = 0
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_purge_threads = 4
innodb_page_cleaners = 4
innodb_open_files = 3000
innodb_online_alter_log_max_size = 2G
internal_tmp_disk_storage_engine = InnoDB
innodb_stats_on_metadata = 0
innodb_checksums = 1
innodb_undo_logs = 128
innodb_status_output = 0
innodb_status_output_locks = 0
#innodb_status_file = 1
